<ul>
<li>Google_AI
  <ul>
  <li>./Google_AI/LSTM_IMDB_Sentiment_Example.html</li>
  <li>./Google_AI/Computer_Vision_Corrige.html</li>
  <li>./Google_AI/RNN_text_generation_.html</li>
  <li>./Google_AI/Sentiment_analysis_twitter.html</li>
  <li>./Google_AI/Speech_Reco.html</li>
  <li>./Google_AI/Comparaison_outils_analyse_sentiments_.html</li>
  <li>./Google_AI/Sentiment_Analysis_Airlines.html</li>
  <li>./Google_AI/Synthèse_vocale.html</li>
  </ul>
</li>
<li>Deep-Learning-CNN
  <ul>
  <li>Project-Exercices-Part
    <ul>
    <li>./Deep-Learning-CNN/Project-Exercices-Part/2_Image_Preprocessing_and_Data_Augmentation.html</li>
    <li>./Deep-Learning-CNN/Project-Exercices-Part/5_Confusion_matrix.html</li>
    <li>./Deep-Learning-CNN/Project-Exercices-Part/1_Extract_Car_Images_using_web_scrapping.html</li>
    <li>./Deep-Learning-CNN/Project-Exercices-Part/3_CNN_Model_Transfer_Learning.html</li>
    <li>./Deep-Learning-CNN/Project-Exercices-Part/4_Fine_Tuning.html</li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Preparation
  <ul>
  <li>2-Handling_Missing_Data
    <ul>
    <li>Workshop
      <ul>
      <li>./Data-Preparation/2-Handling_Missing_Data/Workshop/2_Handling_Missing_Data.html</li>
      </ul>
    </li>
    <li>Exercices_et_Solutions
      <ul>
      <li>./Data-Preparation/2-Handling_Missing_Data/Exercices_et_Solutions/Exercices_Handling_missing_data.html</li>
      <li>./Data-Preparation/2-Handling_Missing_Data/Exercices_et_Solutions/Exercices_et_solutions_Handling_missing_data.html</li>
      </ul>
    </li>
    </ul>
  </li>
  <li>1-Débuter_avec_Pandas
    <ul>
    <li>Workshop
      <ul>
      <li>./Data-Preparation/1-Débuter_avec_Pandas/Workshop/1_Débuter_avec_pandas_exercices.html</li>
      <li>./Data-Preparation/1-Débuter_avec_Pandas/Workshop/1_Débuter_avec_pandas_solutions.html</li>
      </ul>
    </li>
    <li>Exercices_et_Solutions
      <ul>
      <li>./Data-Preparation/1-Débuter_avec_Pandas/Exercices_et_Solutions/1_Solutions.html</li>
      <li>./Data-Preparation/1-Débuter_avec_Pandas/Exercices_et_Solutions/1_Exercices.html</li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Capstone_Project
    <ul>
    <li>./Data-Preparation/Capstone_Project/Capstone_Project_avec_trou_de_code.html</li>
    <li>./Data-Preparation/Capstone_Project/Capstone_Project_gestion_des_données_catégorielles_dans_Python.html</li>
    </ul>
  </li>
  <li>3-Data_Transformation
    <ul>
    <li>Workshop
      <ul>
      <li>./Data-Preparation/3-Data_Transformation/Workshop/3_Data_Transformation.html</li>
      </ul>
    </li>
    <li>Exercices_et_Solutions
      <ul>
      <li>./Data-Preparation/3-Data_Transformation/Exercices_et_Solutions/Exercices.html</li>
      <li>./Data-Preparation/3-Data_Transformation/Exercices_et_Solutions/Solutions.html</li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Statistics-Python
  <ul>
  <li>Exercices
    <ul>
    <li>./Data-Statistics-Python/Exercices/7_Regression_Linéaire.html</li>
    <li>./Data-Statistics-Python/Exercices/3_Matrice_de_Confusion.html</li>
    <li>./Data-Statistics-Python/Exercices/4-Distribution_de_Probabilités_avec_Python​.html</li>
    <li>./Data-Statistics-Python/Exercices/6_Statistial_Experiments_and_Significance_Testing.html</li>
    <li>./Data-Statistics-Python/Exercices/1_Descriptive_Statistics.html</li>
    <li>./Data-Statistics-Python/Exercices/5_Probability_(using_Python).html</li>
    </ul>
  </li>
  <li>Solution
    <ul>
    <li>./Data-Statistics-Python/Solution/7_Regression_Linéaire.html</li>
    <li>./Data-Statistics-Python/Solution/3_Matrice_de_Confusion.html</li>
    <li>./Data-Statistics-Python/Solution/4-Distribution_de_Probabilités_avec_Python​.html</li>
    <li>./Data-Statistics-Python/Solution/6_Statistial_Experiments_and_Significance_Testing.html</li>
    <li>./Data-Statistics-Python/Solution/1_Descriptive_Statistics.html</li>
    <li>./Data-Statistics-Python/Solution/5_Probability_(using_Python).html</li>
    </ul>
  </li>
  </ul>
</li>
<li>Deep-Learning-Neural-Networks
  <ul>
  <li>./Deep-Learning-Neural-Networks/LSTM_Forecast.html</li>
  <li>./Deep-Learning-Neural-Networks/Perceptron-Torch.html</li>
  <li>./Deep-Learning-Neural-Networks/MNIST_in_Keras.html</li>
  <li>./Deep-Learning-Neural-Networks/Perceptron-Scikit.html</li>
  <li>./Deep-Learning-Neural-Networks/Hello_NN_World_TF.html</li>
  <li>./Deep-Learning-Neural-Networks/CNN_Cats_vs_Dogs.html</li>
  </ul>
</li>
<li>Web_Interface_API
  <ul>
  <li>./Web_Interface_API/Untitled.html</li>
  <li>./Web_Interface_API/step_1.html</li>
  <li>./Web_Interface_API/step2.html</li>
  <li>.ipynb_checkpoints
    <ul>
    <li>./Web_Interface_API/.ipynb_checkpoints/step_1-checkpoint.html</li>
    <li>./Web_Interface_API/.ipynb_checkpoints/Untitled-checkpoint.html</li>
    </ul>
  </li>
  </ul>
</li>
<li>Web-Scraping
  <ul>
  <li>Exercice
    <ul>
    <li>./Web-Scraping/Exercice/2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html</li>
    <li>./Web-Scraping/Exercice/4_Scrape_Car_Attributs_Using_Requests.html</li>
    <li>./Web-Scraping/Exercice/3_Web_Scraping_avec_Scrapy.html</li>
    <li>./Web-Scraping/Exercice/1_Web_Scrapping_with_Selenium.html</li>
    </ul>
  </li>
  <li>Solution
    <ul>
    <li>./Web-Scraping/Solution/2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html</li>
    <li>./Web-Scraping/Solution/4_Scrape_Car_Attributs_Using_Requests.html</li>
    <li>./Web-Scraping/Solution/3_Web_Scraping_avec_Scrapy.html</li>
    <li>./Web-Scraping/Solution/1_Web_Scrapping_with_Selenium.html</li>
    </ul>
  </li>
  </ul>
</li>
<li>Machine-Learning-workshop
  <ul>
  <li>00-DATA
    <ul>
    <li>./Machine-Learning-workshop/00-DATA/00-Cancer_Dataset-Exercice.html</li>
    <li>./Machine-Learning-workshop/00-DATA/00-Cancer_Dataset-Solution.html</li>
    </ul>
  </li>
  <li>03-USE_CASE
    <ul>
    <li>./Machine-Learning-workshop/03-USE_CASE/House_Price_Prediction-Exercice.html</li>
    <li>./Machine-Learning-workshop/03-USE_CASE/House_Price_Prediction-Solution.html</li>
    </ul>
  </li>
  <li>01-SUPERVISED
    <ul>
    <li>02.CLASSIFICATION
      <ul>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/03-Support_Vector_Machines-Cancer-Exercice.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/05-Random_Forests-_Cancer-Exercice.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/02-Logistic_Regression-Cancer-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/04-Decision_Trees-Cancer-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/01-KNN-Cancer-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/03-Support_Vector_Machines-Cancer-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/05-Random_Forests-_Cancer-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/02-Logistic_Regression-Cancer-Exercice.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/04-Decision_Trees-Cancer-Exercice.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/02.CLASSIFICATION/01-KNN-Cancer-Exercice.html</li>
      </ul>
    </li>
    <li>01.REGRESSION
      <ul>
      <li>./Machine-Learning-workshop/01-SUPERVISED/01.REGRESSION/01-Simple_Linear_Regression-Diabetes-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/01.REGRESSION/02-Multiple_Linear_Regression-Housing-Solution.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/01.REGRESSION/01-Simple_Linear_Regression-Diabetes-Exercice.html</li>
      <li>./Machine-Learning-workshop/01-SUPERVISED/01.REGRESSION/02-Multiple_Linear_Regression-Housing-Exercice.html</li>
      </ul>
    </li>
    </ul>
  </li>
  <li>02-UNSUPERVISED
    <ul>
    <li>01.CLUSTERING
      <ul>
      <li>./Machine-Learning-workshop/02-UNSUPERVISED/01.CLUSTERING/01-KMeans-Customers-Exercice.html</li>
      <li>./Machine-Learning-workshop/02-UNSUPERVISED/01.CLUSTERING/01-KMeans-Customers-Solution.html</li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li>Machine-Learning
  <ul>
  <li>./Machine-Learning/2_MNIST_in_Keras_PART2_CNN_Exercise.html</li>
  <li>./Machine-Learning/Hello_ML_World.html</li>
  <li>./Machine-Learning/3_games.html</li>
  <li>./Machine-Learning/2_MNIST_in_Keras_PART2_CNN_Solution.html</li>
  <li>./Machine-Learning/Walker.html</li>
  <li>./Machine-Learning/tennis.html</li>
  <li>./Machine-Learning/RL_in_SE_Frozen_Lake.html</li>
  <li>./Machine-Learning/RL_TAXI.html</li>
  <li>./Machine-Learning/1_MNIST_in_Keras_PART1_ANN_Solution.html</li>
  <li>./Machine-Learning/RL.html</li>
  <li>examples
    <ul>
    <li>tutorials
      <ul>
      <li>./Machine-Learning/examples/tutorials/lunar_lander.html</li>
      </ul>
    </li>
    </ul>
  </li>
  <li>./Machine-Learning/frozen_desserts_forecasting_LSTM_TF.html</li>
  <li>./Machine-Learning/RL_FR_debug.html</li>
  <li>./Machine-Learning/1_MNIST_in_Keras_PART1_ANN_Exercise.html</li>
  <li>./Machine-Learning/RL_from_scratch.html</li>
  <li>./Machine-Learning/Kung_foo.html</li>
  <li>./Machine-Learning/Neural_Network_from_scratch.html</li>
  <li>./Machine-Learning/RL_Cartpole.html</li>
  </ul>
</li>
<li>Fondamentaux-Python
  <ul>
  <li>Days_01
    <ul>
    <li>Projets
      <ul>
      <li>Solutions
        <ul>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/04-Test_Exercises-Solution.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/08-Project_Converter-Solution.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/06-Specialization_Exercises-Solution.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/TD1_correction.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/00-Project-Input_and_Output_Strings.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/02-Lesson-Type_Conversion.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/01-Project-Calculations.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/01-Lesson-Variables.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/02-Project-Interactive_Calculations.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/03-Specialization_Exercises-Empty.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/05-Test_Exercises-Solution.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Solutions/07-Project_LEET-Solution.html</li>
        </ul>
      </li>
      <li>Exercises
        <ul>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/TD1.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/05-Test_Exercises-Empty.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/01-Les_nombres.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/07-Project_LEET-Empty.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/00-Project-Input_and_Output_Strings.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/02-Lesson-Type_Conversion.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/01-Project-Calculations.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/01-Lesson-Variables.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/06-Specialization_Exercises-Empty.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/02-Project-Interactive_Calculations.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/04-Test_Exercises-Empty.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/08-Project_Converter-Empty.html</li>
        <li>./Fondamentaux-Python/Days_01/Projets/Exercises/03-Specialization_Exercises-Empty.html</li>
        </ul>
      </li>
      </ul>
    </li>
    <li>./Fondamentaux-Python/Days_01/03-Numbers.html</li>
    <li>./Fondamentaux-Python/Days_01/01-Print_Formatting_with_Strings.html</li>
    <li>./Fondamentaux-Python/Days_01/02-Variable_Assignment.html</li>
    <li>./Fondamentaux-Python/Days_01/04-Strings.html</li>
    <li>./Fondamentaux-Python/Days_01/05-String_methods_and_operations.html</li>
    </ul>
  </li>
  <li>Days_04
    <ul>
    <li>./Fondamentaux-Python/Days_04/04-Function_Practice_Exercises-Solutions.html</li>
    <li>./Fondamentaux-Python/Days_04/06-Nested_Statements_and_Scope.html</li>
    <li>./Fondamentaux-Python/Days_04/02_WriteFile.html</li>
    <li>./Fondamentaux-Python/Days_04/08-Functions_and_Methods_Homework.html</li>
    <li>./Fondamentaux-Python/Days_04/05-Lambda-Expressions-Map-and-Filter.html</li>
    <li>project
      <ul>
      <li>./Fondamentaux-Python/Days_04/project/09-Project-CSV_files.html</li>
      <li>Solution
        <ul>
        <li>./Fondamentaux-Python/Days_04/project/Solution/09-Project-CSV_files.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/08-Project-Capitals_and_Frequency_Count.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/07-Project-Caesar_Cipher.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/File.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/10-Project-Tower_of_Hanoi.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/11-Project-List_and_Dict_Comprehension.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/10-Lesson-Recursion.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/07-Lesson-Functions.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/09-Lesson-CSV_files.html</li>
        <li>./Fondamentaux-Python/Days_04/project/Solution/11-Lesson-Comprehension.html</li>
        </ul>
      </li>
      <li>./Fondamentaux-Python/Days_04/project/08-Project-Capitals_and_Frequency_Count.html</li>
      <li>./Fondamentaux-Python/Days_04/project/07-Project-Caesar_Cipher.html</li>
      <li>./Fondamentaux-Python/Days_04/project/File.html</li>
      <li>./Fondamentaux-Python/Days_04/project/10-Project-Tower_of_Hanoi.html</li>
      <li>./Fondamentaux-Python/Days_04/project/11-Project-List_and_Dict_Comprehension.html</li>
      <li>./Fondamentaux-Python/Days_04/project/10-Lesson-Recursion.html</li>
      <li>./Fondamentaux-Python/Days_04/project/07-Lesson-Functions.html</li>
      <li>./Fondamentaux-Python/Days_04/project/09-Lesson-CSV_files.html</li>
      <li>./Fondamentaux-Python/Days_04/project/11-Lesson-Comprehension.html</li>
      </ul>
    </li>
    <li>./Fondamentaux-Python/Days_04/02-Functions.html</li>
    <li>./Fondamentaux-Python/Days_04/07-args_and_kwargs.html</li>
    <li>./Fondamentaux-Python/Days_04/09-Functions_and_Methods_Homework-Solutions.html</li>
    <li>./Fondamentaux-Python/Days_04/01_ReadFile.html</li>
    <li>./Fondamentaux-Python/Days_04/03-Function_Practice_Exercises.html</li>
    </ul>
  </li>
  <li>Days_03
    <ul>
    <li>./Fondamentaux-Python/Days_03/Les_dictionnaires_en_Python.html</li>
    <li>./Fondamentaux-Python/Days_03/04-for_Loops.html</li>
    <li>./Fondamentaux-Python/Days_03/Contrôle_des_connaissances.html</li>
    <li>./Fondamentaux-Python/Days_03/Exercices_avec_solutions_sur_les_listes_en_Python.html</li>
    <li>projet
      <ul>
      <li>Exercices
        <ul>
        <li>./Fondamentaux-Python/Days_03/projet/Exercices/05-Project-Jumbled_Game.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/Exercices/06-Project-Hangman_Game.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/Exercices/08-Lesson-Dictionaries.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/Exercices/04-Lesson-Random.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/Exercices/06-Lesson-Loops.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/Exercices/04-Project-Math_Game_and_Rock-Paper-Scissor_Game.html</li>
        </ul>
      </li>
      <li>solution
        <ul>
        <li>./Fondamentaux-Python/Days_03/projet/solution/05-Project-Jumbled_Game.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/solution/06-Project-Hangman_Game.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/solution/08-Lesson-Dictionaries.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/solution/04-Lesson-Random.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/solution/06-Lesson-Loops.html</li>
        <li>./Fondamentaux-Python/Days_03/projet/solution/04-Project-Math_Game_and_Rock-Paper-Scissor_Game.html</li>
        </ul>
      </li>
      </ul>
    </li>
    <li>./Fondamentaux-Python/Days_03/05-while_Loops.html</li>
    <li>./Fondamentaux-Python/Days_03/Solutions_du_contrôle_des_connaissances.html</li>
    <li>./Fondamentaux-Python/Days_03/06-List_Comprehensions.html</li>
    </ul>
  </li>
  <li>Days_02
    <ul>
    <li>./Fondamentaux-Python/Days_02/05-_Conversion.html</li>
    <li>./Fondamentaux-Python/Days_02/08-if,_elif,_and_else_Statements.html</li>
    <li>Projets
      <ul>
      <li>Solutions
        <ul>
        <li>./Fondamentaux-Python/Days_02/Projets/Solutions/04-Lesson-Program_Flow.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Solutions/02-Test_Exercises_dicts-Solution.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Solutions/03-Specialization_Exercises-Solution.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Solutions/Solutions_du_controle_des_connaissances_(Notion_de_base).html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Solutions/05-Project-Car_Ensurance.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Solutions/01-Test_Exercises_lists-Solution.html</li>
        </ul>
      </li>
      <li>Exercises
        <ul>
        <li>./Fondamentaux-Python/Days_02/Projets/Exercises/02-Test_Exercises_dicts-Empty.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Exercises/04-Lesson-Program_Flow.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Exercises/05-Project-Car_Ensurance.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Exercises/Controle_des_connaissances__(Notion_de_base).html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Exercises/03-Specialization_Exercises-Empty.html</li>
        <li>./Fondamentaux-Python/Days_02/Projets/Exercises/01-Test_Exercises_lists-Empty.html</li>
        </ul>
      </li>
      </ul>
    </li>
    <li>./Fondamentaux-Python/Days_02/06-Comparison_Operators.html</li>
    <li>./Fondamentaux-Python/Days_02/03-Dictionaries.html</li>
    <li>./Fondamentaux-Python/Days_02/07-Chained_Comparison_Operators.html</li>
    <li>./Fondamentaux-Python/Days_02/01-Lists.html</li>
    <li>./Fondamentaux-Python/Days_02/04-Sets.html</li>
    <li>./Fondamentaux-Python/Days_02/02-Tuples.html</li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Visualisation
  <ul>
  <li>Bokeh
    <ul>
    <li>./Data-Visualisation/Bokeh/raw_intro_to_plotting_with_bokeh.html</li>
    </ul>
  </li>
  <li>Seaborn
    <ul>
    <li>raw
      <ul>
      <li>./Data-Visualisation/Seaborn/raw/titanic-data-visualization-and-ml.html</li>
      <li>./Data-Visualisation/Seaborn/raw/iris-data-visualization.html</li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Plotly
    <ul>
    <li>./Data-Visualisation/Plotly/px_gapminder.html</li>
    <li>./Data-Visualisation/Plotly/Clean_house_prices_data_visualization_with_plotly.html</li>
    <li>./Data-Visualisation/Plotly/Plotly_Gapminder_In_Colab.html</li>
    </ul>
  </li>
  <li>matplotlib
    <ul>
    <li>./Data-Visualisation/matplotlib/DataViz_avec_matplotlib.html</li>
    </ul>
  </li>
  </ul>
</li>
</ul>
