
<li>
    Google_AI
    <ul>
      <li>LSTM_IMDB_Sentiment_Example.html</li>
      <li>Computer_Vision_Corrige.html</li>
      <li>RNN_text_generation_.html</li>
      <li>Sentiment_analysis_twitter.html</li>
      <li>Speech_Reco.ht<ul>
<li>index3.html</li>
<li>index2.html</li>
<li>index.html</li>
<li>notebook-pages
  <ul>
  <li>about
    <ul>
    <li>1_Extract_Car_Images_using_web_scrapping.html</li>
    </ul>
  </ul>
<li>index5.html</li>
<li>Google_AI
  <ul>
  <li>LSTM_IMDB_Sentiment_Example.html</li>
  <li>Computer_Vision_Corrige.html</li>
  <li>RNN_text_generation_.html</li>
  <li>Sentiment_analysis_twitter.html</li>
  <li>Speech_Reco.html</li>
  <li>Comparaison_outils_analyse_sentiments_.html</li>
  <li>Sentiment_Analysis_Airlines.html</li>
  <li>Synthèse_vocale.html</li>
  </ul>
<li>Deep-Learning-CNN
  <ul>
  <li>Project-Exercices-Part
    <ul>
    <li>2_Image_Preprocessing_and_Data_Augmentation.html</li>
    <li>5_Confusion_matrix.html</li>
    <li>1_Extract_Car_Images_using_web_scrapping.html</li>
    <li>3_CNN_Model_Transfer_Learning.html</li>
    <li>4_Fine_Tuning.html</li>
    </ul>
  </ul>
<li>index4.html</li>
<li>Data-Preparation
  <ul>
  <li>2-Handling_Missing_Data
    <ul>
    <li>Workshop
      <ul>
      <li>2_Handling_Missing_Data.html</li>
      </ul>
    <li>Exercices_et_Solutions
      <ul>
      <li>Exercices_Handling_missing_data.html</li>
      <li>Exercices_et_solutions_Handling_missing_data.html</li>
      </ul>
    </ul>
  <li>1-Débuter_avec_Pandas
    <ul>
    <li>Workshop
      <ul>
      <li>1_Débuter_avec_pandas_exercices.html</li>
      <li>1_Débuter_avec_pandas_solutions.html</li>
      </ul>
    <li>Exercices_et_Solutions
      <ul>
      <li>1_Solutions.html</li>
      <li>1_Exercices.html</li>
      </ul>
    </ul>
  <li>Capstone_Project
    <ul>
    <li>Capstone_Project_avec_trou_de_code.html</li>
    <li>Capstone_Project_gestion_des_données_catégorielles_dans_Python.html</li>
    </ul>
  <li>3-Data_Transformation
    <ul>
    <li>Workshop
      <ul>
      <li>3_Data_Transformation.html</li>
      </ul>
    <li>Exercices_et_Solutions
      <ul>
      <li>Exercices.html</li>
      <li>Solutions.html</li>
      </ul>
    </ul>
  </ul>
<li>Data-Statistics-Python
  <ul>
  <li>Exercices
    <ul>
    <li>7_Regression_Linéaire.html</li>
    <li>3_Matrice_de_Confusion.html</li>
    <li>4-Distribution_de_Probabilités_avec_Python​.html</li>
    <li>6_Statistial_Experiments_and_Significance_Testing.html</li>
    <li>1_Descriptive_Statistics.html</li>
    <li>5_Probability_(using_Python).html</li>
    </ul>
  <li>Solution
    <ul>
    <li>7_Regression_Linéaire.html</li>
    <li>3_Matrice_de_Confusion.html</li>
    <li>4-Distribution_de_Probabilités_avec_Python​.html</li>
    <li>6_Statistial_Experiments_and_Significance_Testing.html</li>
    <li>1_Descriptive_Statistics.html</li>
    <li>5_Probability_(using_Python).html</li>
    </ul>
  </ul>
<li>Deep-Learning-Neural-Networks
  <ul>
  <li>LSTM_Forecast.html</li>
  <li>Perceptron-Torch.html</li>
  <li>MNIST_in_Keras.html</li>
  <li>Perceptron-Scikit.html</li>
  <li>Hello_NN_World_TF.html</li>
  <li>CNN_Cats_vs_Dogs.html</li>
  </ul>
<li>Web_Interface_API
  <ul>
  <li>Untitled.html</li>
  <li>step_1.html</li>
  <li>step2.html</li>
  <li>.ipynb_checkpoints
    <ul>
    <li>step_1-checkpoint.html</li>
    <li>Untitled-checkpoint.html</li>
    </ul>
  </ul>
<li>Web-Scraping
  <ul>
  <li>Exercice
    <ul>
    <li>2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html</li>
    <li>4_Scrape_Car_Attributs_Using_Requests.html</li>
    <li>3_Web_Scraping_avec_Scrapy.html</li>
    <li>1_Web_Scrapping_with_Selenium.html</li>
    </ul>
  <li>Solution
    <ul>
    <li>2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html</li>
    <li>4_Scrape_Car_Attributs_Using_Requests.html</li>
    <li>3_Web_Scraping_avec_Scrapy.html</li>
    <li>1_Web_Scrapping_with_Selenium.html</li>
    </ul>
  </ul>
<li>Machine-Learning-workshop
  <ul>
  <li>00-DATA
    <ul>
    <li>00-Cancer_Dataset-Exercice.html</li>
    <li>00-Cancer_Dataset-Solution.html</li>
    </ul>
  <li>03-USE_CASE
    <ul>
    <li>House_Price_Prediction-Exercice.html</li>
    <li>House_Price_Prediction-Solution.html</li>
    </ul>
  <li>01-SUPERVISED
    <ul>
    <li>02.CLASSIFICATION
      <ul>
      <li>03-Support_Vector_Machines-Cancer-Exercice.html</li>
      <li>05-Random_Forests-_Cancer-Exercice.html</li>
      <li>02-Logistic_Regression-Cancer-Solution.html</li>
      <li>04-Decision_Trees-Cancer-Solution.html</li>
      <li>01-KNN-Cancer-Solution.html</li>
      <li>03-Support_Vector_Machines-Cancer-Solution.html</li>
      <li>05-Random_Forests-_Cancer-Solution.html</li>
      <li>02-Logistic_Regression-Cancer-Exercice.html</li>
      <li>04-Decision_Trees-Cancer-Exercice.html</li>
      <li>01-KNN-Cancer-Exercice.html</li>
      </ul>
    <li>01.REGRESSION
      <ul>
      <li>01-Simple_Linear_Regression-Diabetes-Solution.html</li>
      <li>02-Multiple_Linear_Regression-Housing-Solution.html</li>
      <li>01-Simple_Linear_Regression-Diabetes-Exercice.html</li>
      <li>02-Multiple_Linear_Regression-Housing-Exercice.html</li>
      </ul>
    </ul>
  <li>02-UNSUPERVISED
    <ul>
    <li>01.CLUSTERING
      <ul>
      <li>01-KMeans-Customers-Exercice.html</li>
      <li>01-KMeans-Customers-Solution.html</li>
      </ul>
    </ul>
  </ul>
<li>Machine-Learning
  <ul>
  <li>2_MNIST_in_Keras_PART2_CNN_Exercise.html</li>
  <li>Hello_ML_World.html</li>
  <li>3_games.html</li>
  <li>2_MNIST_in_Keras_PART2_CNN_Solution.html</li>
  <li>Walker.html</li>
  <li>tennis.html</li>
  <li>RL_in_SE_Frozen_Lake.html</li>
  <li>RL_TAXI.html</li>
  <li>1_MNIST_in_Keras_PART1_ANN_Solution.html</li>
  <li>RL.html</li>
  <li>examples
    <ul>
    <li>tutorials
      <ul>
      <li>lunar_lander.html</li>
      </ul>
    </ul>
  <li>frozen_desserts_forecasting_LSTM_TF.html</li>
  <li>RL_FR_debug.html</li>
  <li>1_MNIST_in_Keras_PART1_ANN_Exercise.html</li>
  <li>RL_from_scratch.html</li>
  <li>Kung_foo.html</li>
  <li>Neural_Network_from_scratch.html</li>
  <li>RL_Cartpole.html</li>
  </ul>
<li>Fondamentaux-Python
  <ul>
  <li>Days_01
    <ul>
    <li>Projets
      <ul>
      <li>Solutions
        <ul>
        <li>04-Test_Exercises-Solution.html</li>
        <li>08-Project_Converter-Solution.html</li>
        <li>06-Specialization_Exercises-Solution.html</li>
        <li>TD1_correction.html</li>
        <li>00-Project-Input_and_Output_Strings.html</li>
        <li>02-Lesson-Type_Conversion.html</li>
        <li>01-Project-Calculations.html</li>
        <li>01-Lesson-Variables.html</li>
        <li>02-Project-Interactive_Calculations.html</li>
        <li>03-Specialization_Exercises-Empty.html</li>
        <li>05-Test_Exercises-Solution.html</li>
        <li>07-Project_LEET-Solution.html</li>
        </ul>
      <li>Exercises
        <ul>
        <li>TD1.html</li>
        <li>05-Test_Exercises-Empty.html</li>
        <li>01-Les_nombres.html</li>
        <li>07-Project_LEET-Empty.html</li>
        <li>00-Project-Input_and_Output_Strings.html</li>
        <li>02-Lesson-Type_Conversion.html</li>
        <li>01-Project-Calculations.html</li>
        <li>01-Lesson-Variables.html</li>
        <li>06-Specialization_Exercises-Empty.html</li>
        <li>02-Project-Interactive_Calculations.html</li>
        <li>04-Test_Exercises-Empty.html</li>
        <li>08-Project_Converter-Empty.html</li>
        <li>03-Specialization_Exercises-Empty.html</li>
        </ul>
      </ul>
    <li>03-Numbers.html</li>
    <li>01-Print_Formatting_with_Strings.html</li>
    <li>02-Variable_Assignment.html</li>
    <li>04-Strings.html</li>
    <li>05-String_methods_and_operations.html</li>
    </ul>
  <li>Days_04
    <ul>
    <li>04-Function_Practice_Exercises-Solutions.html</li>
    <li>06-Nested_Statements_and_Scope.html</li>
    <li>02_WriteFile.html</li>
    <li>08-Functions_and_Methods_Homework.html</li>
    <li>05-Lambda-Expressions-Map-and-Filter.html</li>
    <li>project
      <ul>
      <li>09-Project-CSV_files.html</li>
      <li>Solution
        <ul>
        <li>09-Project-CSV_files.html</li>
        <li>08-Project-Capitals_and_Frequency_Count.html</li>
        <li>07-Project-Caesar_Cipher.html</li>
        <li>File.html</li>
        <li>10-Project-Tower_of_Hanoi.html</li>
        <li>11-Project-List_and_Dict_Comprehension.html</li>
        <li>10-Lesson-Recursion.html</li>
        <li>07-Lesson-Functions.html</li>
        <li>09-Lesson-CSV_files.html</li>
        <li>11-Lesson-Comprehension.html</li>
        </ul>
      <li>08-Project-Capitals_and_Frequency_Count.html</li>
      <li>07-Project-Caesar_Cipher.html</li>
      <li>File.html</li>
      <li>10-Project-Tower_of_Hanoi.html</li>
      <li>11-Project-List_and_Dict_Comprehension.html</li>
      <li>10-Lesson-Recursion.html</li>
      <li>07-Lesson-Functions.html</li>
      <li>09-Lesson-CSV_files.html</li>
      <li>11-Lesson-Comprehension.html</li>
      </ul>
    <li>02-Functions.html</li>
    <li>07-args_and_kwargs.html</li>
    <li>09-Functions_and_Methods_Homework-Solutions.html</li>
    <li>01_ReadFile.html</li>
    <li>03-Function_Practice_Exercises.html</li>
    </ul>
  <li>Days_03
    <ul>
    <li>Les_dictionnaires_en_Python.html</li>
    <li>04-for_Loops.html</li>
    <li>Contrôle_des_connaissances.html</li>
    <li>Exercices_avec_solutions_sur_les_listes_en_Python.html</li>
    <li>projet
      <ul>
      <li>Exercices
        <ul>
        <li>05-Project-Jumbled_Game.html</li>
        <li>06-Project-Hangman_Game.html</li>
        <li>08-Lesson-Dictionaries.html</li>
        <li>04-Lesson-Random.html</li>
        <li>06-Lesson-Loops.html</li>
        <li>04-Project-Math_Game_and_Rock-Paper-Scissor_Game.html</li>
        </ul>
      <li>solution
        <ul>
        <li>05-Project-Jumbled_Game.html</li>
        <li>06-Project-Hangman_Game.html</li>
        <li>08-Lesson-Dictionaries.html</li>
        <li>04-Lesson-Random.html</li>
        <li>06-Lesson-Loops.html</li>
        <li>04-Project-Math_Game_and_Rock-Paper-Scissor_Game.html</li>
        </ul>
      </ul>
    <li>05-while_Loops.html</li>
    <li>Solutions_du_contrôle_des_connaissances.html</li>
    <li>06-List_Comprehensions.html</li>
    </ul>
  <li>Days_02
    <ul>
    <li>05-_Conversion.html</li>
    <li>08-if,_elif,_and_else_Statements.html</li>
    <li>Projets
      <ul>
      <li>Solutions
        <ul>
        <li>04-Lesson-Program_Flow.html</li>
        <li>02-Test_Exercises_dicts-Solution.html</li>
        <li>03-Specialization_Exercises-Solution.html</li>
        <li>Solutions_du_controle_des_connaissances_(Notion_de_base).html</li>
        <li>05-Project-Car_Ensurance.html</li>
        <li>01-Test_Exercises_lists-Solution.html</li>
        </ul>
      <li>Exercises
        <ul>
        <li>02-Test_Exercises_dicts-Empty.html</li>
        <li>04-Lesson-Program_Flow.html</li>
        <li>05-Project-Car_Ensurance.html</li>
        <li>Controle_des_connaissances__(Notion_de_base).html</li>
        <li>03-Specialization_Exercises-Empty.html</li>
        <li>01-Test_Exercises_lists-Empty.html</li>
        </ul>
      </ul>
    <li>06-Comparison_Operators.html</li>
    <li>03-Dictionaries.html</li>
    <li>07-Chained_Comparison_Operators.html</li>
    <li>01-Lists.html</li>
    <li>04-Sets.html</li>
    <li>02-Tuples.html</li>
    </ul>
  </ul>
<li>Data-Visualisation
  <ul>
  <li>Bokeh
    <ul>
    <li>raw_intro_to_plotting_with_bokeh.html</li>
    </ul>
  <li>Seaborn
    <ul>
    <li>raw
      <ul>
      <li>titanic-data-visualization-and-ml.html</li>
      <li>iris-data-visualization.html</li>
      </ul>
    </ul>
  <li>Plotly
    <ul>
    <li>px_gapminder.html</li>
    <li>Clean_house_prices_data_visualization_with_plotly.html</li>
    <li>Plotly_Gapminder_In_Colab.html</li>
    </ul>
  <li>matplotlib
    <ul>
    <li>DataViz_avec_matplotlib.html</li>
    </ul>
  </ul>
</ul>
ml</li>
      <li>Comparaison_outils_analyse_sentiments_.html</li>
      <li>Sentiment_Analysis_Airlines.html</li>
      <li>Synthèse_vocale.html</li>
    </ul>
</li>

<li>
    Deep-Learning-CNN
    <ul>
      <li>
        Project-Exercices-Part
        <ul>
          <li>2_Image_Preprocessing_and_Data_Augmentation.html</li>
          <li>5_Confusion_matrix.html</li>
          <li>1_Extract_Car_Images_using_web_scrapping.html</li>
          <li>3_CNN_Model_Transfer_Learning.html</li>
          <li>4_Fine_Tuning.html</li>
        </ul>
      </li>
    </ul>
</li>
